:root {
    --GB1: #e0f8d0;
    --GB2: #88c070; 
    --GB3: #346856; 
    --GB4: #081820; 
}


/* Your custom styles goes here */
@font-face {font-family: "GameBoyFont"; src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot"); src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff") format("woff"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.svg#Early GameBoy") format("svg"); }
@font-face {font-family: "ZeldaFont"; src: url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.eot"); src: url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.woff") format("woff"), url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.svg#Zelda DX TT BRK") format("svg"); }
@font-face {font-family: "Pixeboy"; src: url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.eot"); src: url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.woff") format("woff"), url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.svg#Pixeboy") format("svg"); }

/* Breadcrumb items */
a.breadcrumb-item {
    font-size: 15px;
    color: var(--GB2);
}
/* Site Name */
h1 {
	font-family: GameBoyFont;
	color: White;
	font-size: 25px;
	font-weight: normal;
}

/* Album name */
h3 {
	font-family: Pixeboy;
    color: var(--GB4);
	font-size: 25px;
	font-weight: normal;
}
/* Image name in slideshow view */
.lg-exif h3 {
font-family: Pixeboy;
  color: var(--GB2);
}
/* Album details background */
#albums .info {
    position: absolute;
    padding: 1em
;
    background: rgba(136, 192, 112, 0.65);
    color: #fff;
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 0;
    width: 100%;
    font-weight: bold;
    bottom: 0;
}

/* Number of albums & photos */
.summary {
	font-family: Pixeboy;
    color: var(--GB4);
	font-size: 25px;
	font-weight: normal;
}
/* Date range of contents */
.date {
	font-family: Pixeboy;
    color: var(--GB4);
	font-size: 0px;
	font-weight: normal;
}

#albums a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 3em;
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 220px;
  background-size: cover;
  border-radius: 4px;
}

/* Your custom styles goes here */

body {
  background: var(--GB1);
  color: var(--GB4);
  font-family: GameBoyFont;
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 1em;
}

header {
  color: BlueViolet;
}

nav-border {
	color: #fff;
}
