/* Your custom styles goes here */

@font-face {font-family: "Early GameBoy"; src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot"); src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff") format("woff"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.svg#Early GameBoy") format("svg"); }


/* Album name */
h3 {
	font-family: Early GameBoy;
	color: White;
	font-size: 15px;
	font-style: italic;
}
/* Number of albums & photos */
.summary {
	font-family: Courier;
	color: White;
	font-size: 15px;
	font-style: italic;
}
/* Date range of contents */
.date {
	font-family: Courier;
	color: White;
	font-size: 15px;
	font-style: italic;
}

#albums a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 3em;
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 220px;
  background-size: cover;
  border-radius: 4px;
}

/* Your custom styles goes here */

body {
  background: Silver url("https://raw.githubusercontent.com/SolemnSpirit/Playnite-Graphics-Repository/master/Background.jpg") no-repeat fixed center;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 1em;
}

header {
  color: BlueViolet;
}

nav-border {
	color: #fff;
}
