* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 1em;
}
a {
  color: #444;
  text-decoration: none;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#container {
  padding: 2em;
}
header {
  font-size: 1.8em;
  margin-bottom: 1.1em;
}
h1 {
  display: inline-block;
  font-weight: bold;
}
h1 a {
  color: #444;
}
footer {
  color: #666;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 3em;
}
footer a {
  color: #17baef;
}
nav.breadcrumbs {
  border-bottom: 1px solid #ddd;
  font-size: 1.2em;
  margin-bottom: 2em;
  padding: 0em 0em 0.8em 0.1em;
}
#albums,
#media {
  margin: 0em;
}
#albums a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 3em;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 220px;
  background-size: cover;
  border-radius: 8px;
}
#albums .info {
  position: absolute;
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 0;
  width: 100%;
  font-weight: bold;
  bottom: 0;
}
#albums h3 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
}
#media li {
  float: left;
  margin-right: 0.4em;
  margin-bottom: 0.2em;
  position: relative;
  cursor: zoom-in;
}
#media a {
  display: inline-block;
}
#media img {
  border-radius: 8px;
  display: block;
}
#media li .video-overlay {
  left: 50%;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  top: 50%;
  width: 48px;
}
@media only screen and (max-width: 360px) {
  #albums a {
    width: 100%;
    height: 190px;
  }
}
nav.pagination {
  color: #666;
  display: inline-block;
  font-size: 1em;
  margin-top: 2em;
  padding: 0em 0em 0.5em 0em;
}
nav.pagination .page {
  margin-right: 0.2em;
}
nav.pagination .page.current {
  font-weight: bold;
}
nav.pagination a {
  color: #666;
}
#zip {
  color: #666;
  margin-bottom: 2em;
}
#zip a {
  color: #3399ff;
}
:root {
    --GB1: #e0f8d0;
    --GB2: #88c070; 
    --GB3: #346856; 
    --GB4: #081820; 
}

/* Font definitions */
@font-face {font-family: "GameBoyFont"; src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot"); src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff") format("woff"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.svg#Early GameBoy") format("svg"); }
@font-face {font-family: "ZeldaFont"; src: url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.eot"); src: url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.woff") format("woff"), url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/630456bff8d3c11ea4511ef8b7184ae3.svg#Zelda DX TT BRK") format("svg"); }
@font-face {font-family: "Pixeboy"; src: url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.eot"); src: url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.woff") format("woff"), url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3118b7f4e7160b4cd86ad75ad9e2a074.svg#Pixeboy") format("svg"); }

/* Body */
body { background: var(--GB1); color: var(--GB4); font-family: GameBoyFont; font-size: 12px; font-weight: lighter; margin-bottom: 1em; }
/* Site Name */
h1 { font-family: GameBoyFont; var(--GB4); font-size: 35px; font-weight: normal; }
/* Breadcrumb items */
a.breadcrumb-item { font-size: 15px; color: var(--GB2); }

footer { color: var(--GB4); }

/* Album details */

/* Album details: Album name */
#albums h3 { /* font-size: 2em; */ margin-bottom: 0.2em; font-family: Pixeboy; color: var(--GB2); font-size: 25px; font-weight: normal; }
/* Album details: Background */
#albums .info { background: rgba(8, 24, 32, 1); color: #fff; font-size: 0.9em; line-height: 1.2em; font-weight: bold; bottom: 0;}
/* Album details: Number of albums & photos */
.summary { font-family: Pixeboy; color: var(--GB2); font-size: 25px; font-weight: normal; }
/* Album details: Date range of contents */
.date { font-family: Pixeboy; color: var(--GB2); font-size: 0px; font-weight: normal; }

#albums a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 3em;
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 220px;
    background-size: cover;
    border-radius: 4px;
}



header {
    color: BlueViolet;
}

nav-border {
    color: #fff;
}

/* Gallery items */

/* Gallery: Toolbar icons */
.lg-toolbar .lg-icon { color: var(--GB2);}
.lg-toolbar .lg-icon:hover { color: var(--GB3);}
/* Gallery: Image counter */
#lg-counter { color: var(--GB2);}
/* Gallery: Back arrow */
.lg-actions .lg-prev { color: var(--GB2);}
.lg-actions .lg-prev:hover { color: var(--GB3);}
.lg-actions .lg-prev { background-color: rgba(8,24,32, 1); }
/* Gallery: Forward arrow */
.lg-actions .lg-next { color: var(--GB2);}
.lg-actions .lg-next:hover, .lg-actions .lg-prev:hover { color: var(--GB3);}
.lg-actions .lg-next { background-color: rgba(8,24,32, 1); }
/* Gallery: Exif details - Heading */
.lg-exif h3 { float: left; font-size: 1.5em; padding-bottom: 0.4em; color: var(--GB2); }
/* Gallery: Exif details - Filename */
.lg-exif li { list-style: none; padding: 0.25em 0; text-overflow: ellipsis; overflow: hidden; font-family: Pixeboy; font-size: 18px;}
/* Gallery: Slideshow progress bar */
.lg-progress-bar .lg-progress { background-color: var(--GB2); height: 5px; width: 0;}
/* Gallery: Thumbnail bar toggle */
.lg-outer .lg-toogle-thumb { color: var(--GB2); background-color: var(--GB4);}
/* Gallery: Thumbnail border */
.lg-outer .lg-outer .lg-thumb-item:hover { border-color: var(--GB2); }
.lg-outer .lg-thumb-item.active { border-color: var(--GB1); }
/* Gallery: Thumbnail background */
.lg-outer .lg-thumb-outer { background-color: var(--GB4); }
/* Gallery: Gallery background */
.lg-outer { background-color: var(--GB1);}

div.lg-toolbar.group { background-color: var(--GB4);}

